@font-face {
    font-family: "FuturaPT-BookCold";
    src: url('/fonts/FuturaPT-BookCold.woff') format('woff');
    font-weight: 450;
    font-style: normal;
}

@font-face {
    font-family: "FuturaPT-Book";
    src: url('/fonts/FuturaPT-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaPT-Light';
    src: url('/fonts/FuturaPT-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gabriela';
    src: url('/fonts/gabriela.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'FuturaPT-Demi';
	src: url('/fonts/FuturaPT-Demi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


